  body{
    background-color: pink;
  }
  .textstyle1{
    text-align: center;
    color: rgb(37, 128, 154);
  }
  .linkbutton{
      background-color: rgb(0,225,225);
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin-left: 75px;
  }
  .textstyle2{
      text-align: left;
      color: rgb(37, 128, 154);
  }
  .rainbowtext1{
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
    font-family: sans-serif;
    font-size: 3rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -4px 4px #ef3550,
               -8px 8px #f48fb1,
               -12px 12px #7e57c2,
               -16px 16px #2196f3,
               -20px 20px #26c6da,
               -24px 24px #43a047,
               -28px 28px #eeff41,
               -32px 32px #f9a825,
               -36px 36px #ff5722;
}
  .rainbowtext2{
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
    font-family: fantasy;
    font-size: 2rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -4px 4px #ef3550,
                -8px 8px #f48fb1,
                -12px 12px #7e57c2,
                -16px 16px #2196f3,
                -20px 20px #26c6da,
                -24px 24px #43a047,
                -28px 28px #eeff41,
                -32px 32px #f9a825,
                -36px 36px #ff5722;
  }